*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(187, 213, 194);
    height: 100%;
}
main {
    min-height: calc(100vh - 120px);
}
header{
    background-color: #dfefe1;
}
nav{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo img{
    width: 120px;
}
nav ul li{
    display: inline-block;
    padding: 19px;
}
nav ul li a{
    text-decoration: none;
    font-size: 22px;
    color: #325536;
}
nav ul li a:hover{
    color:#5e8b64;
}
